.body{
    display: flex;
  align-items: center;
  justify-content: center;
}

.form{
    background-color: aqua;
    font-weight: bolder;
    height: 200px;
    width: 500px;
    border: 1px solid red;
border-radius: 10px;
}

.form label{
    margin-top:40px;
    display: block;
    margin-left: 30%;
}

.form input{
    display: block;
    margin: 10px;
    margin-left: 30%;
}

.form button{
    margin-left: 30%;
}

.input{
    height: 50px;
    text-align: center;
    background-color: green;
    border: 1px yellow;
    color: white;
    margin-left: 30%;
    margin-top: 10px;
    font-size: 30px;
}

.form.invalid{
    background-color:red;
    color:white;
}

.form.invalid button{
    background-color:red;
    color:white;
}

.form.invalid input{
    background-color:red;
    color:white;
}


.form.valid{
    background-color:green;
}

.form.valid button{
    background-color:green;
}

.form.invalid input{
    background-color:green;
}